export NODE_ENV=production
export STACK_ACCOUNT=$(aws sts get-caller-identity --query "Account" --output text)
#export STACK_REGION=$(aws configure get region)
export STACK_REGION=ca-central-1
export APP_NAME=hcx-deploy
export DOMAIN_NAME=hcx.ai #remove when no domain needed
export SUBDOMAIN_NAME=api-deploy #remove when no domain needed
# The SENTRY_DSN tells the SDK where to send the logs to.
export SENTRY_DSN=https://804e51b523464dd9ab60cd175c4a99c8@o489114.ingest.sentry.io/5598319
export CLIENT_URL=https://deploy.hcx.ai/